@model AspNet_MVC_Training.Models.TrainingCategoryViewModel

@{
  ViewData["Title"] = "Formations Cart";
}

<div class="row justify-content-center">
  <div class="col-lg-10 col-xl-8 d-flex flex-column justify-content-center align-items-center">
    <ul class="list-group w-100">
      @foreach (var item in Model.Trainings) {
        <li class="list-group-item d-flex justify-content-between align-items-center">
          @Html.DisplayFor(modelItem => item.Title)
          <div class="d-flex align-items-center">
            <div class="badge bg-primary rounded-pill me-2">@Html.DisplayFor(modelItem => item.Price)€</div>
            <form asp-action="RemoveFromCart">
              <input type="hidden" name="TrainingID" value="@item.TrainingID" />
              <input type="hidden" name="CartPage" value="true" />
              <input type="submit" class="btn btn-warning btn-sm" value="Remove from cart" />
            </form>
          </div>
        </li>
      }
    </ul>

    <div class="w-100 d-flex justify-content-end mt-2">
      Total <span class="fw-bold ms-1">@Model.Trainings.Sum(t => t.Price)€</span>
    </div>

    <div class="d-flex justify-content-between align-items-center w-100 mt-4">
      <form asp-action="Cart">
        <input type="submit" class="btn btn-success btn-lg" value="Confirm" />
      </form>
      <a asp-action="Index" class="btn btn-outline-warning btn-lg">Cancel</a>
    </div>
  </div>
</div>