AspNet-MVC-Training/obj/
AspNet-MVC-Training/bin/
AspNet-MVC-Training/publish/
AspNet-MVC-Training/Properties/PublishProfiles/
AspNet-MVC-Training/AspNet_MVC_Training.db-shm
AspNet-MVC-Training/AspNet_MVC_Training.db-wal
.vs/