@{
    ViewData["Title"] = "Home";
}

<div id="home" class="text-center">
    <h1 class="display-4">Welcome to the life improvement experience</h1>
    <img class="my-4" src="https://media.istockphoto.com/photos/time-for-change-concept-of-new-life-picture-id639144254" />
    <h4>Thanks to all the content provided by all our formers you have the chance to change your life...</h4>
    <a class="btn btn-outline-primary btn-lg mt-4">Signup for your futur</a>
</div>
